logic-app-workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowDefinition.json#",
        "actions": {
            "Get_email_content": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/Mail/@{first(triggerBody()?['value'])?['Id']}"
                },
                "runAfter": {}
            },
            "Initialize_url_index": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "urlIndex",
                            "type": "integer",
                            "value": "@add(indexOf(body('Get_email_content')?['body'], 'href=\"'), 6)"
                        }
                    ]
                },
                "runAfter": {
                    "Get_email_content": ["Succeeded"]
                }
            },
            "Initialize_authkey_index": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "authKeyIndex",
                            "type": "integer",
                            "value": "@add(indexOf(body('Get_email_content')?['body'], 'authKey='), 8)"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_url_index": ["Succeeded"]
                }
            },
            "Extract_URL_and_AuthKey": {
                "type": "Compose",
                "inputs": {
                    "fullText": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'href=\"'), 6), sub(indexOf(body('Get_email_content')?['body'], '\">'), add(indexOf(body('Get_email_content')?['body'], 'href=\"'), 6)))}",
                    "baseUrl": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'href=\"https://wharrispra'), 11), sub(indexOf(body('Get_email_content')?['body'], '/login'), add(indexOf(body('Get_email_content')?['body'], 'href=\"https://wharrispra'), 11)))}",
                    "authKey": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'authKey='), 8), 32)}"
                },
                "runAfter": {
                    "Get_email_content": ["Succeeded"]
                }
            },
            "Send_to_Teams_Bot": {
                "type": "Http",
                "inputs": {
                    "method": "POST",
                    "uri": "https://@{parameters('BotName')}.azurewebsites.net/api/webhook",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "type": "message",
                        "attachments": [{
                            "contentType": "application/vnd.microsoft.card.adaptive",
                            "content": {
                                "type": "AdaptiveCard",
                                "body": [
                                    {
                                        "type": "TextBlock",
                                        "text": "PRA Access Request",
                                        "weight": "bolder",
                                        "size": "large"
                                    },
                                    {
                                        "type": "FactSet",
                                        "facts": [
                                            {
                                                "title": "Request ID:",
                                                "value": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'Request #</strong></td><td>'), 27), 2)}"
                                            },
                                            {
                                                "title": "System:",
                                                "value": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'Requested System</strong></div></td><td>'), 39), 5)}"
                                            },
                                            {
                                                "title": "System Group:",
                                                "value": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'System Group</strong></td><td>'), 29), 28)}"
                                            },
                                            {
                                                "title": "Requested Time:",
                                                "value": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'Requested Time</strong></td><td>'), 31), 35)}"
                                            },
                                            {
                                                "title": "Requested Reason:",
                                                "value": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'Requested Reason</strong></td><td>'), 33), 15)}"
                                            },
                                            {
                                                "title": "Requested By:",
                                                "value": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'Requested By</strong></td><td>'), 30), 16)}"
                                            }
                                        ]
                                    },
                                    {
                                        "type": "Input.Text",
                                        "id": "approval_message",
                                        "placeholder": "Add a message (optional)",
                                        "isMultiline": true
                                    }
                                ],
                                "actions": [
                                    {
                                        "type": "Action.Execute",
                                        "title": "Approve",
                                        "verb": "approve",
                                        "data": {
                                            "decision": "approved",
                                            "requestId": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'Request #</strong></td><td>'), 27), 2)}",
                                            "ticketNumber": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'Request #</strong></td><td>'), 27), 2)}",
                                            "approvalUrl": "https://@{outputs('Extract_URL_and_AuthKey')?['baseUrl']}/approve_jump_request",
                                            "authKey": "@{outputs('Extract_URL_and_AuthKey')?['authKey']}"
                                        }
                                    },
                                    {
                                        "type": "Action.Execute",
                                        "title": "Deny",
                                        "verb": "deny",
                                        "data": {
                                            "decision": "denied",
                                            "requestId": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'Request #</strong></td><td>'), 27), 2)}",
                                            "ticketNumber": "@{substring(body('Get_email_content')?['body'], add(indexOf(body('Get_email_content')?['body'], 'Request #</strong></td><td>'), 27), 2)}",
                                            "approvalUrl": "@{outputs('Extract_URL_and_AuthKey')?['fullUrl']}",
                                            "authKey": "@{outputs('Extract_URL_and_AuthKey')?['authKey']}"
                                        }
                                    }
                                ],
                                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                "version": "1.4"
                            }
                        }]
                    }
                },
                "runAfter": {
                    "Extract_URL_and_AuthKey": ["Succeeded"]
                }
            }
        },
        "parameters": {
            "$connections": {
                "defaultValue": {
                    "office365": {
                        "connectionId": "/subscriptions/43189cc5-f0a5-41e7-96a3-133d9406008a/resourceGroups/{resourceGroup}/providers/Microsoft.Web/connections/office365",
                        "connectionName": "office365",
                        "id": "/subscriptions/43189cc5-f0a5-41e7-96a3-133d9406008a/providers/Microsoft.Web/locations/westus/managedApis/office365"
                    }
                },
                "type": "Object"
            },
            "BotName": {
                "type": "String",
                "defaultValue": ""
            }
        },
        "triggers": {
            "When_a_new_email_arrives": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Mail/OnNewEmail",
                    "queries": {
                        "folderPath": "Inbox",
                        "searchQuery": "'A new session authorization request has been created'",
                        "includeAttachments": false
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    }
}