logic-app-workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowDefinition.json#",
        "actions": {
            "Get_email_content": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v2/Mail/@{first(outputs('When_a_new_email_arrives')?['body']?['value'])?['Id']}/$value"
                },
                "runAfter": {
                    "When_a_new_email_arrives": ["Succeeded"]
                }
            },
            "Parse_Email_Body": {
                "type": "Compose",
                "inputs": "@replace(replace(replace(body('Get_email_content'), '\r\n', ' '), '\\n', ' '), '  ', ' ')",
                "runAfter": {
                    "Get_email_content": ["Succeeded"]
                }
            },
            "Extract_URL_and_AuthKey": {
                "type": "Compose",
                "inputs": {
                    "fullUrl": "@{replace(first(split(first(split(outputs('Parse_Email_Body'), 'https://wharrispra'))[1], ' ')), '__;!!', '')}",
                    "authKey": "@{first(split(last(split(first(split(outputs('Parse_Email_Body'), 'authKey='))[1], '&')), '_'))}"
                },
                "runAfter": {
                    "Parse_Email_Body": ["Succeeded"]
                }
            },
            "Extract_Request_Details": {
                "type": "Compose",
                "inputs": {
                    "requestId": "@{trim(first(split(first(split(first(split(outputs('Parse_Email_Body'), '**Request #**'))[1], '**Request State**'))[0])))}",
                    "requestedSystem": "@{trim(first(split(first(split(first(split(outputs('Parse_Email_Body'), '**Requested System**'))[1], '**System Comments**'))[0])))}",
                    "systemGroup": "@{trim(first(split(first(split(first(split(outputs('Parse_Email_Body'), '**System Group**'))[1], '**Requested Time**'))[0])))}",
                    "requestedTime": "@{trim(first(split(first(split(first(split(outputs('Parse_Email_Body'), '**Requested Time**'))[1], '**Requested Reason**'))[0])))}",
                    "requestedReason": "@{trim(first(split(first(split(first(split(outputs('Parse_Email_Body'), '**Requested Reason**'))[1], '**Requested By**'))[0])))}",
                    "requestedBy": "@{trim(first(split(first(split(outputs('Parse_Email_Body'), '**Requested By**'))[1], '\n'))[0])}",
                    "approvalUrl": "https://wharrispra@{outputs('Extract_URL_and_AuthKey')?['fullUrl']}",
                    "authKey": "@{outputs('Extract_URL_and_AuthKey')?['authKey']}"
                },
                "runAfter": {
                    "Extract_URL_and_AuthKey": ["Succeeded"]
                }
            }
        },
        "parameters": {
            "$connections": {
                "defaultValue": {
                    "office365": {
                        "connectionId": "/subscriptions/43189cc5-f0a5-41e7-96a3-133d9406008a/resourceGroups/pra-approval-rg/providers/Microsoft.Web/connections/pra-approvin-office365",
                        "connectionName": "pra-approvin-office365",
                        "id": "/subscriptions/43189cc5-f0a5-41e7-96a3-133d9406008a/providers/Microsoft.Web/locations/westus/managedApis/office365"
                    }
                },
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_email_arrives": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Mail/OnNewEmail",
                    "queries": {
                        "folderPath": "Inbox",
                        "searchQuery": "'A new session authorization request has been created'",
                        "includeAttachments": false
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    }
}